  <div class="top-background" >
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">あなたのレシピをここに</h1>
        <p class="lead text-muted">今まで料理してきたレシピを保存することができます。秘伝レシピ・時短のおかず・パーティスナック等々、あなただけのレシピ本を作り上げることが出来ます。</p>

        <p>
          <%= link_to "レシピ登録", new_recipe_path, class: "btn btn-primary my-2" %>
          <%= link_to "あなたのレシピ", new_recipe_path, class: "btn btn-secondary my-2" %>
        </p>
      </div>
    </div>

    <div class="album py-5">
      <div class="container index-recipe">
        <% if @recipes.present? %>
          <% @recipes.each do |recipe| %>
          <div class="box">
            <div class="col">
              <div class="card shadow-sm">
                <%= link_to recipe_path(recipe.id) do %>
                  <%= image_tag recipe.image, class: "bd-placeholder-img card-img-top" %>
                <% end %>
                <div class="card-body">
                  <p class="card-text">料理名:<br>
                  <%= recipe.name %></p>
                  <p class="card-text"><%= recipe.user.nickname %>さん</p>
                  <i class="fa-solid fa-heart"></i>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
                <div class="card-body">
                  <p class="card-text">レシピを投稿してね</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>