  <div class="top-background" >
    <div class="row py-lg-5">
      <div class="recipe-show">
        <div class="recipe-name">料理名</div>
          <div class="name">
            <%= @recipe.name %>
          </div>
        <div class="item-img-content">
          <%= image_tag @recipe.image, class:"recipe-box" %>
        </div>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="detail-item">レシピ作成者</th>
              <td class="detail-value"><%= @recipe.user.nickname %></td>
            </tr>
            <tr>
              <th class="detail-item">調理方法</th>
              <td class="detail-value"><%= @recipe.info %></td>
            </tr>
            <tr>
              <th class="detail-item">料理カテゴリー</th>
              <td class="detail-value"><%= @recipe.category.name %></td>
            </tr>
            <tr>
              <th class="detail-item">料理時間</th>
              <td class="detail-value"><%= @recipe.cooking_time.name %></td>
            </tr>
          </tbody>
        </table>
        <% if user_signed_in? %>
          <div class="like", id="likes_buttons_<%= @recipe.id %>">
            <%= render "likes/like", recipe: @recipe %>
          </div>
        <% end %>
          <div class="edit-box">
            <% if user_signed_in? && @recipe.user == current_user %>
              <%= link_to "商品の編集", edit_recipe_path, method: :get, class: "btn btn-primary" %>
              <h2 class="or-text">or</h2>
              <%= link_to "削除", recipe_path, method: :delete, class:"btn-destroy", data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </div>
          <div class="comments-index">
            <h4 class="comments-note">★コメント一覧★</h4>
              <% @recipe.comments.reverse.each do |comment| %>
                <div id="comments">
                  <div class="comment">
                    <p class="user-info"><%= comment.user.nickname %>： </p>
                    <p><%= comment.text%></p>
                  </div>
                </div>
              <% end %>

            <div class="comment-form">
              <% if user_signed_in? %>
                <%= form_with model: [@recipe, @comment], id: "comment-form" do |f| %>
                  <%= f.text_area :text , class: "comment-text"%>
                  <%= f.submit "コメントを送る", class: "comment-submit" %>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>