  <div class="top-background" >
    <div class="row py-lg-5">
      <div class="recipe-show">

        <h2 class="recipe-name">
          <%= @recipe.name %>
        </h2>
        <div class="item-img-content">
          <%= image_tag @recipe.image, class:"item-box-img" %>
        </div>
        <h2 class="recipe-name">
          <%= @recipe.info %>
        </h2>
        <h2 class="recipe-name">
          <%= @recipe.category.name %>
        </h2>
        <h2 class="recipe-name">
          <%= @recipe.cooking_time.name %>
        </h2>

          <% if user_signed_in? && @item.order == nil %>
            <%= link_to "商品の編集", edit_recipe_path, method: :get, class: "btn btn-primary" %>
            <h2 class="or-text">or</h2>
            <%= link_to "削除", recipe_path, method: :delete, class:"btn-destroy" %>
          <% end %>



      </div>
    </div>
  </div>