<%# ログイン画面 %>
<body class="text-center login-top">

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
  <main class="form-signin">
    
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <div class="form-floating">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="field w-100 btn btn-lg btn-primary sign-in">
        <%= f.submit "ログイン" %>
      </div>

      <div class="form-sign-in">
      <%= link_to "アカウントがまだの方はこちら", new_user_registration_path, class: "log-in" %>
      </div>

  </main>
<% end %>
</body>